<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Coders Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
     
      <nav>
       
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout </button>
        
        <a href="/login">login</a>
        
      </nav>
      <div>  </div>
       <h1>
        <a href="/">All Coders Blog</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      { Made by a coder for coders }
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>